{% apply inline_css(source('@css/email.css')) %}

    <div class="email">
        <br>
        <p>Thank you {{ fullname }} for submitting your contact request. A member of our team will be in touch soon.</p>
        <br>
    </div>
{% endapply %}


